<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="thainguyendanh000@gmail.com"/> <!--tài khoản gửi mail,sẽ phải https://devanswers.co/allow-less-secure-apps-access-gmail-account/-->
  <add key="FromEmailPassword" value="#"/> <!--mật khẩu email-->
  <add key="FromName" value="Nguyễn Danh Thái"/> <!--tên người gửi-->
  <add key="AdminEmail" value="nguyendanhthai1605@gmail.com"/>
  
</appSettings>