@model WebLaptop.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="account_grid">
    <div class="login-right">
        <h3>Đăng nhập</h3>
        @using (Html.BeginForm("Login", "Account", new { returnUrl = @ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <div>
                <span>Tài Khoản<label class="red">*</label></span>
                @Html.TextBoxFor(x => x.UserName)
            </div>
            <div>
                <span>Password<label>*</label></span>
                @Html.PasswordFor(x => x.Password)
            </div>
            <div>
                @Html.CheckBoxFor(x => x.RememberMe) Nhớ mật khẩu?
            </div>
            <a class="forgot" href="#">Forgot Your Password?</a>
            <input type="submit" value="Login">
        }
    </div>
    <div class=" login-left">
        <h3>Chưa có tài khoản</h3>
        <p>Chưa có tài khoản,vui lòng đăng kí tại link dưới đây</p>
        <a class="acount-btn" href="/dang-ky.html">Đăng ký thành viên</a>
    </div>
    <div class="clearfix"> </div>
</div>

